name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: 'windows-2025'
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name:  Build (x64)
        shell: cmd
        run: |
          mkdir bin\x64
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          cl /c src/dllmain.c /Fo:bin/x64/dllmain.obj
          cl /c src/dllmain.c /D USE_QUEUE_USER_APC /Fo:bin/x64/dllmain.alt.obj

      - name:  Build (x86)
        shell: cmd
        run: |
          mkdir bin\x86
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x86
          cl /c src/dllmain.c /Fo:bin/x86/dllmain.obj
          cl /c src/dllmain.c /D USE_QUEUE_USER_APC /Fo:bin/x86/dllmain.alt.obj

      - name: Package
        run:  nuget pack .\src\NativeDllMain.nuspec -Version ${{ github.ref_name }} -properties sha=${{ github.sha }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: NativeDllMain*nupkg